.sidebar{
  &__nav-menu{
    position: fixed;
    right:0;
    top: 0;
    bottom:0;
    width:70%;
    background-color: hsla(0,0%,10%,0.3);
    opacity: 0;
    transform:scaleX(0);
    transform-origin: right;
    transition:opacity 0.5s ease,transform 0.5s ease;
    z-index: 100;


    ul{
      @include flex(column,center,center,5);
      margin-top:rem(10);
      padding-left:20%;
      li:first-child{
        font-size: rem(25);
        text-align: end; 
        padding:rem(12) rem(10) rem(12) 0;   
      }
      li{
        width:100%;
        padding:rem(20) 0;      

        a{
          color:$title-color;
        }
      }
    }
  }
  &__active{
    opacity: 1;
    transform: scaleX(1);

  }

 
}