@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
$header-height: 3.5rem;
//   /*========== Colors ==========*/
//   /*Color mode HSL(hue, saturation, lightness)*/
//   /* 
//       Change favorite color
//       Default: hsl(162, 100%, 40%)
//       Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
//       Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)
//<================  global color variables  =================>
$hue:162;
$first-color:  hsl(162, 100%, 40%);
$project-flow-color:hsla($hue,70%,40%,.8);
$buttons-shadow-color:hsla(162, 100%, 40%,.2);
$first-color-alt: hsl($hue, 60%, 35%);
$title-color: hsl(228, 8%, 95%);
$text-color: hsl(228, 8%, 65%);
$body-color: hsl(228, 15%, 20%);
$container-color: hsl(228, 15%, 15%);

//   /*========== Font and typography ==========*/

$body-font: "Poppins", sans-serif;
$biggest-font-size: 2rem;
$bigger-font-size: 1.25rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

//   /*========== Font weight ==========*/
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;


/*=============== BASE ===============*/
@function rem($siz){
  $value:$siz;
  @if(type-of($siz)==number){
    $value :$siz/16+rem;
  }
  @return $value;
}
 @mixin flex($direction,$justify,$align,$gap:0){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  column-gap: rem($gap);
  row-gap:rem($gap);
 }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
  font-size:$normal-font-size;
  background-color: $body-color;
  color: $title-color;
  padding-top:rem(80);
  position:relative;
 // height: 120%;
  

 // padding-bottom:rem(1000)
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
section{
  padding:rem(130) 0 rem(60) 0;
  width:75%;
 // @include flex(column,center, center);
 // margin-bottom:rem(500);

}
// ================ scroll bar 
::-webkit-scrollbar{
  width:rem(10);
  background-color:hsl(228,12%,25%);
  border-radius: rem(8);
}
::-webkit-scrollbar-thumb{
  background-color: hsl(230, 8%, 35%);
  border-radius: rem(8);
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(230, 8%, 45%);

}


// ==========  Titles =================

.title{
  font-weight: $font-semi-bold;
  font-size: $biggest-font-size;
  color: $title-color;
}
.sub-title{
  font-weight: $font-semi-bold;
  font-size: $biggest-font-size;
  color: $first-color;
}
.second-title{
  font-weight: $font-medium;
  font-size: $h2-font-size;
  color: $title-color;
}
.second-sub-title{
  font-weight:  $font-medium;
  font-size: $h2-font-size;
  color: $first-color;
}







// /*=============== GOOGLE FONTS ===============*/
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// /*=============== VARIABLES CSS ===============*/
// :root {
//   --header-height: 3.5rem;

//   /*========== Colors ==========*/
//   /*Color mode HSL(hue, saturation, lightness)*/
//   /* 
//       Change favorite color
//       Default: hsl(162, 100%, 40%)
//       Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
//       Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)

//       For more colors visit: https://colors.dopely.top/color-pedia
//       -> Choose any color 
//       -> click on tab (Color Conversion)
//       -> Copy the color mode (HSL)
//   */

//   --hue: 162;
//   --first-color: hsl(var(--hue), 100%, 40%);
//   --first-color-alt: hsl(var(--hue), 56%, 35%);
//   --title-color: hsl(228, 8%, 95%);
//   --text-color: hsl(228, 8%, 65%);
//   --body-color: hsl(228, 15%, 20%);
//   --container-color: hsl(228, 15%, 15%);

//   /*========== Font and typography ==========*/
//   /*.5rem = 8px | 1rem = 16px ...*/
//   --body-font: "Poppins", sans-serif;
//   --biggest-font-size: 2rem;
//   --bigger-font-size: 1.25rem;
//   --h1-font-size: 1.5rem;
//   --h2-font-size: 1.25rem;
//   --h3-font-size: 1rem;
//   --normal-font-size: .938rem;
//   --small-font-size: .813rem;
//   --smaller-font-size: .75rem;

//   /*========== Font weight ==========*/
//   --font-regular: 400;
//   --font-medium: 500;
//   --font-semi-bold: 600;

//   /*========== z index ==========*/
//   --z-tooltip: 10;
//   --z-fixed: 100;
// }

// /*========== Responsive typography ==========*/
// @media screen and (min-width: 1152px) {
//   :root {
//     --biggest-font-size: 4rem;
//     --bigger-font-size: 2rem;
//     --h1-font-size: 2.25rem;
//     --h2-font-size: 1.5rem;
//     --h3-font-size: 1.25rem;
//     --normal-font-size: 1rem;
//     --small-font-size: .875rem;
//     --smaller-font-size: .813rem;
//   }
// }

// /*=============== BASE ===============*/
// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }

// html {
//   scroll-behavior: smooth;
// }

// input,
// textarea,
// button,
// body {
//   font-family: var(--body-font);
//   font-size: var(--normal-font-size);
// }

// body {
//   background-color: var(--body-color);
//   color: var(--text-color);
// }

// input,
// textarea,
// button {
//   outline: none;
//   border: none;
// }

// h1, h2, h3, h4 {
//   color: var(--title-color);
//   font-weight: var(--font-medium);
// }

// ul {
//   list-style: none;
// }

// a {
//   text-decoration: none;
// }

// img,
// svg {
//   max-width: 100%;
//   height: auto;
// }

